<!DOCTYPE html>
<html>
<head>
    <title>Todo</title>
</head>
<body>
    <h1>My tasks {{ user.username }}</h1>
    {% if user.is_authenticated %} 
        <a href={% url "logout" %}>Log out</a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a> | <a href="{% url 'signup' %}">Create account</a>
    {% endif %}

    <a href="{% url 'task_create' %}">Add task</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {{ task.description }}
                ({{ task.completed|yesno:"Completed, Not completed" }})
                <a href="{% url 'task_update' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks</li>
        {% endfor %}
    </ul>
</body>
</html>